<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>NowNews</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href='/public/styles.css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0" />
  </head>
<body>
  <div class="container">
    <div class="nav">
      <div class="nav-item">
          <a href="/" id="home-btn">
            <button><span class="material-symbols-rounded active-nav">home</span></button>
          </a>
      </div>
      <div class="nav-item">
          <a href="/favorites" id="favorite-btn">
            <button><span class="material-symbols-rounded">favorite</span></button>
          </a>
      </div>
    </div>
    <div class="view">
      <div class="header">
        <div class="inner-header">
            <div class="logo">
                <a href="/" style="all:unset; cursor:pointer; display:flex; justify-content: center; align-items: center; font-size: 20px; color:#363A55; font-weight: 600;"><span class='material-symbols-rounded' style="color: #363A55; font-size: 32px; margin-right: 10px;">newspaper</span>NowNews</a>
            </div>
            <div>
                <form class="inner-header" action="/search" method="POST">
                    <input id="search-query" class="form-input searchbar" type="text" placeholder="Søgeord (fx. 'World Cup')">
                    <input id="search-publisher" class="form-input searchbar" type="text" placeholder="Udgiver (fx. 'forbes.com')">
                    <button class="btn btn-secondary search-btn"><span style="font-size:18px" class="material-symbols-rounded">search</span></button>
                </form>
            </div>
        </div>
        <div class="user" id="user-info">
          <% if (user) { %>
            <p><%= user.name %></p>
            <a href="/account"><span class='material-symbols-rounded' style="color: black">person</span></a>
            <a href="/logout"><span class='material-symbols-rounded' style="color: black">logout</span></a>
          <% } else { %>
            <a href='/register'>
                <button class='btn btn-primary'>Opret bruger</button>
            </a>
            <a href='/login' style='margin-left: 15px;'>
                <button class='btn btn-secondary'>Log ind</button>
            </a>
          <% } %>
        </div>
      </div>
