<%- include ("../partials/header.ejs") %>

<div class="profile-view" style="margin-top: 60px">
    <p class="h2">Din profil</p>
    <div>
        <div class="inner-header" style="display: flex; flex-wrap: wrap">
            <% if (error) { %>
                <div class="alert alert-danger" role="alert" style="width: 100%; margin-top: 20px">
                    <%= error %>
                </div>
            <% } %>
            <form id="update-form" class="update-form" method="POST" action="/account">
                <input class="form-input profile-input" name="name" type="name" placeholder="Nyt navn">
                <input class="form-input profile-input" name="email" type="email" placeholder="Ny e-mail">
                <input class="form-input profile-input" name="password" type="password" placeholder="Nyt kodeord">
                <input class="form-input profile-input" name="confirm" type="password" placeholder="Bekræft kodeord">
                <button class="btn btn-primary" style="width: 100%; margin-top: 10px">Opdatér</button>
            </form>
        </div>
        <form method="GET" action="/account/delete" onsubmit="return confirm('Er du sikker?')">
            <div class="form-group">
                <button type="submit" class="btn btn-danger btn-lg btn-block">Delete your account</button>
            </div>
        </form>
    </div>
</div>

<%- include ("../partials/footer.ejs") %>