<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log ind - Newsie</title>
    <link rel="icon" type="image/x-icon" href="/resources/Newsie-favicon.png">
    <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
    <div class="credential-wrapper">
        <div class="credential-container">
            <a href="/"><img src="/resources/Newsie-logo.png" class="credential-logo"></a>
            <p class="h2 credential-title">Log ind</p>
            <% if (error) { %>
                <div class="alert-text">
                    <%= error %>
                </div>
            <% } %>
            <form class="credential-form" method="POST">
                <input class="form-input" name="email" type="email" placeholder="E-mail" required>
                <input class="form-input" name="password" type="password" placeholder="Kodeord" required>
                <button class="btn btn-primary" style="width: 100%; margin-top: 10px">Log ind</button>
            </form>
            <p class="credential-info">Har du ikke en bruger? <a class="link" href="/register">Opret bruger</a></p>
        </div>
    </div>
</body>
</html>
