<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opret bruger - NowNews</title>
    <link rel="icon" type="image/x-icon" href="/resources/Newsie-favicon.png">
    <link rel="stylesheet" href="/public/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body>
    <div class="credential-wrapper">
        <div class="credential-container">
            <a href="/" style="all:unset; cursor:pointer; display:flex; justify-content: center; align-items: center; font-size: 20px; color:#363A55; font-weight: 600; margin-bottom: 40px"><span class='material-symbols-rounded' style="color: #363A55; font-size: 32px; margin-right: 10px;">newspaper</span>NowNews</a>
            <p class="h2 credential-title">Opret bruger</p>
            <% if (error) { %>
                <div class="alert-text">
                    <%= error %>
                </div>
            <% } %>
            <form class="credential-form" method="POST">
                <input class="form-input" name="email" type="email" placeholder="E-mail" required>
                <input class="form-input" name="name" type="text" placeholder="Dit fulde navn" required>
                <input class="form-input" name="password" type="password" placeholder="Kodeord" required>
                <input class="form-input" name="confirm" type="password" placeholder="Bekræft kodeord" required>
                <button class="btn btn-primary" style="width: 100%; margin-top: 10px">Opret bruger</button>
            </form>
            <p class="credential-info">Har du allerede en bruger? <a class="link" href="/login">Log ind</a></p>
        </div>
    </div>
</body>
</html>
